---
import { getFormattedDate, getIsoDate } from "utils/date";
import { toKebabCase } from "utils/misc";

export type Props = PostSummary;
const { slug, title, description, publishedAt, tags } = Astro.props;

const publishedAtIso = getIsoDate(publishedAt);
const publishedAtText = getFormattedDate(publishedAt);
---

<div
  class="flex flex-col gap-2 relative w-full h-full px-8 py-5 rounded-lg shadow bg-gray-3 dark:bg-graydark-3 hover:bg-gray-4 dark:hover:bg-graydark-4 active:bg-gray-5 dark:active:bg-graydark-5"
>
  <time
    datetime={publishedAtIso}
    class="text-xs md:text-sm text-gray-11 dark:text-graydark-11"
  >
    {publishedAtText}
  </time>
  <h3 class="font-bold text-lg md:text-xl line-clamp-2">
    <a href={"/p/" + slug}>
      {title}
      <span class="absolute top-0 left-0 right-0 bottom-0"></span>
    </a>
  </h3>
  <p
    class="text-sm md:text-base text-gray-11 dark:text-graydark-11 line-clamp-3"
  >
    {description}
  </p>
  <ul class="flex gap-x-2 mt-auto">
    {
      tags.map((tag) => (
        <li class="z-10">
          <a
            href={"/tags" + toKebabCase(tag)}
            class="text-sm md:text-base italic text-gray-11 dark:text-graydark-11 hover:text-gray-12 dark:hover:text-graydark-12"
          >
            #{tag}
          </a>
        </li>
      ))
    }
  </ul>
</div>
